@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
   font-family: 'Poppins', sans-serif
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.7)),
  url("https://github.com/Smartgreen-Sensor-PI/Documentos-Projeto-PI/blob/main/Site%20Institucional/Imagens/tomate.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
}


.cards {
  display: flex;
  gap: 20px;
  margin: 10px;
  justify-content: center;
  overflow: hidden;
}


.kpi {
  width: 300px;
  height: 160px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 2px rgb(15, 37, 11);
  padding: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
}

.divisao_kpi{
  
  width: 280px;
  height: fit-content;
  background-color: rgba(246, 255, 246, 0.505);
  border-radius: 20px;
  border: solid 2px rgba(125, 172, 125, 0.535);
  padding: 10px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  overflow: hidden;
  display: flex;
  
  

}


.containers {
  display: flex;
  gap: 20px;
  margin: 10px;
  justify-content: center;
}


.container {
  width: 40vw;
  border-radius: 15px;
  border: 1px solid rgb(4, 67, 33);
  background-color: #ffffff;
  padding: 20px;
}

.DASH {
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  margin: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #d61414;
}

.text {
  font-size: 17px;
  color: #000000;
  overflow: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  overflow: auto;
  display: flex;

}

.numeroKPI{
  font-size: 35px;
  font-weight: bold;
  color: #1a2e12;
}

.statusKPI{
  font-size: 14px;
  font-weight: bold;
  color: #d61414;
  margin-top: 10px;
}

.btnVoltar{
  top: 25px;
  left: 25px;
  background-color: white;
  color: #34492a;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

}