@import url(https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap);


body {
  font-family: "Miranda Sans", sans-serif;
}

.corpo {
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav {
  padding-top: 80px;
}

.tela {
  min-height: 100vh;

  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("Imagens/Estufa\ de\ tomates\ à\ luz\ suave.png");

  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-login {
  background-color: white;
  padding: 70px;
  border-radius: 10px;
  width: 470px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  gap: 10px;
  box-shadow: 0 0 10px #0000001A;
  height: 500px;
}

.caixa-cadastro {
  background-color: white;
  padding: 35px;
  border-radius: 10px;
  width: 470px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  gap: 10px;
  box-shadow: 0 0 10px #0000001A;
  height: 600 px;

}



.inputs {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-verde {
  padding: 10px;
  background-color: #34492a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.home nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  width: 100%;
  box-sizing: border-box;

  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home .menu-esquerda a {
  margin-right: 20px;
  text-decoration: none;
  color: #4b5d4b;
}

.home .menu-direita span {
  margin-left: 10px;
  cursor: pointer;
}

.home .hero {
  height: 100vh;
  background: url("Imagens/tomate.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.home .conteudo {
  background: #FFFFFF99;
  padding: 30px;
}

.home h1 {
  font-size: 60px;
  color: #34492a;
}

.home h1 span {
  color: green;
}

.home p {
  margin-top: 10px;
  font-size: 20px;
}


.card {
  width: 500px;
  max-width: 90%;
  height: auto;
  background-color: white; 
  border-radius: 15px;
  margin: 20px auto;
  padding: 35px;
  padding-top: 40px;
}


.text {
  font-family: monospace;
}

.title {
  font-size: 30px;
}

.msg {
  font-size: 15px;
}

.main-color {
  color: #34492a;
}

.text-color {
  color: rgb(10, 2, 0);
}

.local {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.home {
  margin: 0;
  min-height: 100vh;
}

.home .fundo {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}


.nos {
  padding: 80px;
}

.titulo {
  scroll-margin-top: 100px;
}

.conteudo2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


.quadro {
  width: 500px;
  border: 8px solid #34492a;
  border-radius: 20px;
  overflow: hidden;

}

.quadro img {
  max-width: 100%;
  display: block;
}

.caixa-texto {
  background-color: rgba(160, 243, 170, 0.493);
  padding: 10px;
  border-radius: 10px;
  width: 470px;
  box-shadow: 0 0 10px #0000001A;

}

.divisor {
  width: 3px;
  background: linear-gradient(to bottom, #66bb6a, #1b5e20);
  border-radius: 10px;
  align-self: stretch;
}

html {
  scroll-behavior: smooth;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

.input-group b {
    color: #34492a;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}


.botoes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}


.btn-calcular {
    flex: 2; 
    padding: 12px;
    background-color: #008f39;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn-limpar {
    flex: 1;
    padding: 12px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.nota-referencia {
    font-size: 11px;
    color: #888;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
/* ===== DASHBOARD CSS ===== */


.dashboard.corpo {
  min-height: 100vh;
  background-image: linear-gradient(rgba(52, 131, 36, 0.733),
      rgba(52, 131, 36, 0.788)),
    url("https://github.com/Smartgreen-Sensor-PI/Documentos-Projeto-PI/blob/main/Site%20Institucional/Imagens/tomate.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  height: fit-content;
}


.dashboard .cards {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: center;
  overflow: hidden;
}


.dashboard .kpi {
  width: 300px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  border: solid 2px rgb(15, 37, 11);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard .divisao_kpi {

  width: 280px;
  height: fit-content;
  background-color: rgba(246, 255, 246, 0.505);
  border-radius: 20px;
  border: solid 2px rgba(125, 172, 125, 0.535);
  padding: 10px;
  overflow: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: auto;
  display: flex;

}


.dashboard .containers {
  display: flex;
  gap: 20px;
  margin: 20px;
  justify-content: center;
}


.dashboard .container {
  width: 40vw;
  border-radius: 15px;
  border: 1px solid rgb(4, 67, 33);
  background-color: #ffffff;
  padding: 20px;
}

.dashboard .DASH {
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.dashboard .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #d61414;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.dashboard .text {
  font-size: 17px;
  color: #000000;
  overflow: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  overflow: auto;
  display: flex;

}