@import url(https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.nav-bar {
  display: flex;
  justify-content:center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  height: 50px;
  background-color: #5eff0048; 
  /*box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);*/
  width: 100%;
  text-align: center;
}

.menu {
    background-color: #ED145B;
    align-items: center;
    width: 100%;
}
.menu a {
  margin-right: 20px;
  text-decoration: none;
  color: #008000;
  text-align: center;
}

.suporte {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    margin-left: 20px
}

.titulo_suporte {
    height: 100px;
    color: rgb(63, 63, 63);
    font-family: "Roboto" Arial, Helvetica, sans-serif;
    font-size: 70px;
    padding-left: 30px;
    margin-top: -30px;
}
.texto_suporte {
    height: 100px;
    /*background-color: #ED145B;*/
    font-family: "Roboto" Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 30px;
    padding-left: 30px;
    width: 500px;
    
}

.bob_ia {
    font-family: Arial, sans-serif;   
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(Imagens/Estufa_de_tomates_à_luz_suave.png);
    width: auto;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;

}   

#container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #1F2A44;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #D0D3D4;
    border: 1px solid #63666A;
    text-align: left;
    display: none;
}


.seta{
    /* rotate: -90deg; */
    width: 120px;
    position: fixed;
    right: 70px;
}

.seta:hover{
    scale: 1.1;
    cursor: pointer;
}